@model BeeManufacture.WebUI.Models.TotalBeeModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div>

        <table class="table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BHouses)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BHouses)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BHouses)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BHouses)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BHouses)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model.BHouses)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BHType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MB_Kind)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MB_Birth)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.BHouseId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.BHouseId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.BHouseId })
                    </td>
                </tr>
            }

        </table>


        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BHTypes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BHTypes)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.BHTypes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantityOnManufacture)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.BHTypeId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.BHTypeId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.BHTypeId })
                    </td>
                </tr>
            }

        </table>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MBs)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.MBs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MB_Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.MB_Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MB_Id })
                    </td>
                </tr>
            }

        </table>

    </div>
</body>
</html>
