@model IEnumerable<BeeManufacture.Domain.Entities.BHouse>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BHType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MB_Kind)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MB_Birth)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BHType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MB_Kind)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MB_Birth)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BHouseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BHouseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BHouseId })
        </td>
    </tr>
}

</table>
